<section class="h-full bg-gray-50 py-6">
  <div class="w-96 mx-auto my-12 bg-gray-50 shadow-md relative">
    <!-- Badge -->
    <div
      class="absolute top-5 left-0 bg-red-500 text-white uppercase text-xs font-bold px-3 py-1"
    >
      Hot
    </div>

    <!-- Product Image -->
    <div class="flex items-center justify-center h-72 p-12 bg-gray-200">
      <img
        src="https://i.imgur.com/xdbHo4E.png"
        alt="Women leather bag"
        class="max-w-full max-h-full"
      />
    </div>

    <!-- Product Details -->
    <div class="p-6">
      <span class="block text-gray-400 uppercase text-xs font-bold mb-4"
        >Women, bag</span
      >
      <h4 class="text-lg font-medium mb-4">
        <a href="#" class="text-gray-800 hover:text-yellow-500 transition"
          >Women leather bag</a
        >
      </h4>
      <p class="text-sm text-gray-600 leading-relaxed mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus
        nostrum!
      </p>

      <!-- Bottom Details -->
      <div class="border-t pt-4 flex justify-between items-center">
        <div class="text-yellow-500 font-semibold text-lg">
          <small class="text-gray-500 line-through mr-2">$96.00</small> $230.99
        </div>
        <div class="space-x-3">
          <a href="#" class="text-gray-300 hover:text-yellow-500 transition"
            ><i class="fa fa-heart"></i
          ></a>
          <a href="#" class="text-gray-300 hover:text-yellow-500 transition"
            ><i class="fa fa-shopping-cart"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
