<nav
  class="navbar flex bg-gray-300 h-20 items-center justify-between sticky top-0"
>
  <div class="navbar-brand ml-[30px] font-bold text-4xl">
    <a routerLink="/home" class="navbar-item cursor-pointer">My App</a>
  </div>

  <div class="navbar-menu hidden lg:flex">
    <div class="navbar-start flex gap-5">
      <a routerLink="/home" class="navbar-item cursor-pointer">Home</a>
      <a routerLink="/products" class="navbar-item cursor-pointer">Products</a>
      <a routerLink="/about" class="navbar-item cursor-pointer">About</a>
      <a routerLink="/contact" class="navbar-item cursor-pointer">Contact</a>
    </div>
  </div>

  <div class="buttons flex items-center mr-[30px]">
    <button
      (click)="toggleMenu()"
      class="lg:hidden border border-gray-800 text-gray-800 py-2 px-4 rounded flex items-center"
    >
      <i class="fas fa-bars"></i>
      <!-- Hamburger Icon -->
    </button>

    <div
      *ngIf="isMenuOpen"
      class="lg:hidden absolute bg-gray-300 shadow-lg rounded-lg mt-2"
    >
      <div class="flex flex-col gap-2 p-4">
        <a routerLink="/home" class="navbar-item cursor-pointer">Home</a>
        <a routerLink="/products" class="navbar-item cursor-pointer"
          >Products</a
        >
        <a routerLink="/about" class="navbar-item cursor-pointer">About</a>
        <a routerLink="/contact" class="navbar-item cursor-pointer">Contact</a>
      </div>
    </div>

    <div class="hidden lg:flex gap-5">
      <a
        href="/login"
        class="border border-gray-800 text-gray-800 py-2 px-4 rounded m-2 flex items-center"
      >
        <i class="fas fa-sign-in-alt mr-2"></i> Login
      </a>
      <a
        href="/register"
        class="border border-gray-800 text-gray-800 py-2 px-4 rounded m-2 flex items-center"
      >
        <i class="fas fa-user-plus mr-2"></i> Register
      </a>
      <a
        href="/cart"
        class="border border-gray-800 text-gray-800 py-2 px-4 rounded m-2 flex items-center"
      >
        <i class="fas fa-shopping-cart mr-2"></i> Cart
      </a>
    </div>
  </div>
</nav>
